<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ARY News Chat</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SignalRMVC.styles.css" asp-append-version="true" />
	<link rel="shortcut icon" href="~/Images/AryLogo.png" type="image/x-icon">
	@* <link href='https://fonts.googleapis.com/css?family=Noto Nastaliq Urdu' rel='stylesheet'> *@
	<link rel="stylesheet" href="/DataTables/datatables.css" />
	<script src="/DataTables/datatables.js"></script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<style>
		.UserListWrap {
			height: unset !important;
			margin-bottom: 20px;
		}
		/* Dark Theme */

		.ArbabTheme {
			background: #1a1d21;
			color: #fff;
		}

			.ArbabTheme .ChatRoom .card {
				background: #000000;
			}

			.ArbabTheme .UserListWrap {
				background: #1b1d21 !important;
				border-color: #eeeeee3b;
			}

			.ArbabTheme header nav {
				background: #1D1F1F !important;
			}

			.ArbabTheme .navbar-brand {
				color: #fff;
			}

			.ArbabTheme .navbar-nav .nav-link {
				color: #fff !important;
			}

			.ArbabTheme .SideBar {
				background: #161717 !important;
				height: 83vh;
			}

			.ArbabTheme .letter-avatar {
				color: #ffffff !important;
				background: #4d1a57 !important;
			}

		.msg-custom .copy-btn:focus, .msg-custom .copy-btn:active {
			outline: none;
			box-shadow: none;
			border: none;
		}

		.card {
			height: 80vh;
		}

		.ArbabTheme .navbar-brand:hover {
			color: #ffffff !important;
		}


		.ArbabTheme .card .card-header {
			background: #b00023 !important;
		}

		.ArbabTheme .card li.list-group-item {
			color: #fff;
			border-color: #999999;
		}

			.ArbabTheme .card li.list-group-item:hover {
				background: unset;
			}

		.ArbabTheme .card-footer {
			background: #000 !important;
			color: #fff !important;
			border-color: #3e3f41 !important;
			scrollbar-color: #3e3f41 #1b1d21;
		}

		.ArbabTheme .msg-custom {
			color: #fff !important;
			background: #334486 !important;
		}

		.ArbabTheme .ChatRoom .card-body textarea#chatMessage {
			background: #000 !important;
			border-color: #000 !important;
			color: #fff !important;
		}

		.ArbabTheme button#sendMessage {
			background: #4e4a87 !important;
			border-color: #4e4a87 !important;
		}

			.ArbabTheme button#sendMessage:hover {
				background: unset !important;
			}

		.ArbabTheme .card li.list-group-item .customClassContent.text-end .msg-custom {
			background: #8d3c9f8c !important;
			color: #fff !important;
		}

		.ArbabTheme table, .ArbabTheme table th, .ArbabTheme table td {
			color: #fff !important;
		}

		.ArbabTheme ul.pagination li.previous a, .ArbabTheme ul.pagination li.next a {
			background: #444444 !important;
			border-color: #444444;
			color: #fff;
		}

		.ArbabTheme ul .page-item.active a {
			background: #000;
			border-color: #000;
		}

		.ArbabTheme table {
			background: #3e3f41 !important;
		}

		.ArbabTheme div.dataTables_wrapper div.dataTables_filter input {
			background: #444444;
			color: #fff;
			border-color: #444444;
		}

		.ArbabTheme div.dataTables_wrapper div.dataTables_length select {
			background: #444;
			color: #fff;
			border-color: #444;
		}

		.ArbabTheme .modal-dialog-scrollable .modal-body {
			background: #000;
		}

		.ArbabTheme .modal-footer {
			background: #000;
		}

		.ArbabTheme .modal-content {
			border: solid 1px #525252 !important;
			background: #000;
		}

		.ArbabTheme ul .page-item a {
			background: #444;
			color: #fff;
			border-color: #444;
		}

		.ArbabTheme .form-container {
			background: #444;
		}

			.ArbabTheme .form-container input, .ArbabTheme .form-container select {
				background: #000 !important;
				border-color: #000 !important;
				color: #eee !important;
			}

		.ArbabTheme #groupCreateForm input {
			background: #444 !important;
			color: #fff !important;
		}

		.ZoomBtns {
			text-align: right;
		}

			.ZoomBtns button {
				background: unset;
				border: unset;
				box-sizing: unset;
				color: #fff;
				margin-left: 10px;
				padding: 0;
			}

		.ArbabTheme .d-flex.justify-content-start .UserIcon {
			background: #3e3f85 !important;
		}

		.ArbabTheme .SideBar .group-item:hover, .ArbabTheme .SideBar .group-item.active {
			background: #4d1a57 !important;
			color: #fff !important;
		}

		.ArbabTheme .modal-dialog-scrollable .modal-content .modal-header {
			background: #b00023 !important;
		}

		/* Dark Theme */

		.UserListWrap .card-header {
			background: #2C3E50 !important;
		}

		.modal-dialog-scrollable .modal-content .modal-header {
			background: #2C3E50 !important;
		}

		.modal-dialog-scrollable .modal-header .btn-close {
			color: #fff !important;
		}

		.page-item.active .page-link {
			background-color: #2C3E50 !important;
			border-color: #2C3E50 !important;
		}

		.SideBar .card-header a, .SideBar .card-header a:hover {
			text-decoration: unset;
			color: #fff;
		}

		.UserIcon {
			display: block;
			height: 30px;
			width: 30px;
			text-align: center;
			border-radius: 50px;
			line-height: 28px;
			font-size: 16px;
			font-weight: bold;
			background: #333c4e;
			color: #fff;
		}

		.UserName {
			position: absolute;
			top: -15px;
			right: 30px;
			background: #333c4e;
			color: #fff;
			margin: auto;
			text-align: center;
			font-size: 12px;
			padding: 5px;
			border-radius: 5px;
			display: none;
		}

		.UserIcon:hover + .UserName {
			display: block;
		}

		.customClassContent.text-end .d-flex.ms-2 {
			align-items: flex-start !important;
		}

			.customClassContent.text-end .d-flex.ms-2 .UserName {
				left: 30px;
				right: unset;
			}

		.ArbabTheme .UserIcon {
			background: #4d1a57 !important;
			color: #fff;
		}

		.ArbabTheme .UserName {
			background: #fff;
			color: #000;
		}

		.navFonts {
			font-family: math;
			font-variant: petite-caps;
		}

		.CopyRight {
			position: fixed;
			bottom: 0;
			left: 0;
			padding: 5px;
			color: #fff;
			background: #303d4f;
		}

		.ArbabTheme .CopyRight {
			background: #161717;
		}

		@@font-face {
			font-family: 'Alvi Nastaleeq';
			src: url('/fonts/alvi_Nastaleeq.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
		}

		.urdu-text {
			font-family: 'Alvi Nastaleeq', serif;
			font-size: 24px;
			direction: rtl;
		}

		.fs-9 .message-text {
			font-size: 9px;
		}

		.fs-14 .message-text {
			font-size: 14px;
		}

		.fs-18 .message-text {
			font-size: 18px;
		}

		.fs-22 .message-text {
			font-size: 22px;
		}

		.fs-27 .message-text {
			font-size: 27px;
		}

		.fs-34 .message-text {
			font-size: 34px;
		}

	</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" style="margin: 0;">
			<div class="container-fluid">
				@* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ARY</a>
				<img src="~/Images/arynewslogo.png" style="width: 100%;" alt="Italian Trulli"> *@

				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/Images/AryLogo.png" alt="ARY Logo" style="height: 40px;" />
				</a>




				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">

						@if (User.IsInRole("Manager"))
						{
							<li class="nav-item">
								<a class="nav-link text-dark navFonts" asp-area="" asp-controller="Group" asp-action="Index">Groups</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark navFonts" asp-area="" asp-controller="Group" asp-action="UserList">Users</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark navFonts" asp-area="" asp-controller="Group" asp-action="AddUser">Add new user</a>
							</li>
						}

					</ul>
				</div>
				<partial name="_LoginPartial" />
			</div>
		</nav>
	</header>
	<div class="container" style="padding: 0;">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
		<p class="CopyRight" style="margin:0;"> &reg; Powered by ARY TECH </p>
	</div>

	@* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SignalRMVC - <a asp-area="" asp-controller="Group" asp-action="Index">Group List</a>
        </div>
    </footer> *@
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	<script>
		$(document).ready(function () {
			   renderTheme();
			$('#ThemeChangebtn').on('click', function () {
				$('body').toggleClass('ArbabTheme');
				 updateTheme();
			});

			$('#fontSizeDropdown').on('change', function () {
				var selectedFontSize = $(this).val();

				// Remove any existing fs-* class from body
				$('body').removeClass(function (index, className) {
					return (className.match(/(^|\s)fs-\d+/g) || []).join(' ');
				});

				// Add the new fs-* class
				$('body').addClass('fs-' + selectedFontSize);
			});
		});

		function renderTheme()
		{
			$.ajax({
				url: `/Home/GetTheme`,
				type: 'GET',
				success: function (messages) {
					if (messages == true) {
						$('body').toggleClass('ArbabTheme');
					}
				},
				error: function (error) {
					console.error("Error loading messages:", error);
					isLoading = false;
				}
			});
		}

		function updateTheme() {
			$.ajax({
				url: '/Home/UpdateTheme',
				type: 'GET',
				data: {},
				success: function () {
					console.log('Theme updated successfully.');
					// Optionally: reload page or apply new theme styles
				},
				error: function (xhr, status, error) {
					console.error('Error updating theme:', error);
				}
			});
		}

	</script>


	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
