################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
.vs/
/.vs/SignalRMVC/v17/.suo
/.vs/SignalRMVC/v17/DocumentLayout.backup.json
/.vs/SignalRMVC/v17/DocumentLayout.json
/bin/Debug/net8.0/af/Humanizer.resources.dll
/bin/Debug/net8.0/ar/Humanizer.resources.dll
/bin/Debug/net8.0/az/Humanizer.resources.dll
/bin/Debug/net8.0/bg/Humanizer.resources.dll
/bin/Debug/net8.0/bn-BD/Humanizer.resources.dll
/bin/Debug/net8.0/cs/Humanizer.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
*.dll
*.props
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/SignalRMVC.AssemblyInfo.cs
/obj/Debug/net8.0/SignalRMVC.AssemblyInfoInputs.cache
/obj/Debug/net8.0/SignalRMVC.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/SignalRMVC.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/SignalRMVC.csproj.Up2Date
/obj/Debug/net8.0/SignalRMVC.genruntimeconfig.cache
/obj/Debug/net8.0/SignalRMVC.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/SignalRMVC.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net8.0/SignalRMVC.pdb
/obj/Debug/net8.0/SignalRMVC.sourcelink.json
/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.development.json
/obj/Debug/net8.0/staticwebassets.pack.json
/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/bin/Debug/net8.0
/obj/Debug/net8.0/scopedcss
/obj/project.nuget.cache
/obj/Release/net8.0/SignalRMVC.AssemblyInfo.cs
/obj/Release/net8.0/SignalRMVC.AssemblyInfoInputs.cache
